<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="08_CokkieTest">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <property name="context-root" value="08_CokkieTest"/>
        <property name="java-output-path" value="/08_CokkieTest/WebContent/WEB-INF/classes"/>
    </wb-module>
</project-modules>
