<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="Hyeon_Toeic">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <property name="context-root" value="Hyeon_Toeic"/>
        <property name="java-output-path" value="/Hyeon_Toeic/WebContent/WEB-INF/classes"/>
    </wb-module>
</project-modules>
